#SecretScanWidget
{
    background-color: #f6ffef;
    border-right: 2px solid gray;
    border-bottom: 2px solid gray;
    border-left: 2px solid gray;
}
QLabel
{
    font: 18px "黑体","宋体",Arial, Helvetica, sans-serif;
    height: 25px;
}
QLineEdit
{
    font :18px "黑体","宋体",Arial, Helvetica, sans-serif;
    border-radius: 5px;
    border: 1px solid black;
    height: 25px;
}
QPushButton
{
    font:18px "黑体","宋体",Arial, Helvetica, sans-serif;
    border-radius: 5px;
    border:1px solid black;
    background-color: #2EA9DF;
    color: #FFFFFF;
    height: 25px;
    min-width: 80px;
}
QPushButton:disabled
{
    background-color: rgb(172, 172, 172);
    color: #FFFFFF;
}
QPushButton:hover
{
    border-radius: 10px;
    background-color: #E87A90;
    border: 2px solid black;
}
QRadioButton
{
    font :18px "黑体","宋体",Arial, Helvetica, sans-serif;
}
QComboBox
{
    font:18px "黑体","宋体",Arial, Helvetica, sans-serif;
}
#SecretTable
{
    border: 2px solid gray;
    background-color: white;
}
QHeaderView::section
{
    font:18px "黑体","宋体",Arial, Helvetica, sans-serif;
    color:black;
    border:none;
    min-height: 25px;
}
QComboBox
{
    height: 25px;
}
QComboBox QAbstractItemView
{
    selection-color: black;
    selection-background-color: #2EA9DF;
}
